/* header */
.header{
    background-color: rgb(46, 45, 45);
    color:white;
    padding: 45px;
}
.header h1{
    margin-bottom: 10px;
    font-family: Josefin Sans;
    font-size: 32px;
}
/* navbar */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
a:hover{
    border-bottom: 3px solid black;
}
.nav{
    position: relative;
    padding: 0 16px;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .links{
    display: flex;
    gap: 32px;
}
.navbar .toggle_btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display:none;
    position: absolute;
    left:90%;
}
.action_btn{
    background-color: blue;
    color:#fff;
    padding: 0.5rem 1rem;
    border: none;
    outline:none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease ;
}
.action_btn:hover{
    scale: 1.05;
    color:#fff;
}
.action_btn:active{
    scale:0.95;
}
/* dropdown */
.dropdown_menu{
    display: none;
    right:32px;
    top:60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 48px;
    margin-top: 32px;
}
.faqtitle{
    font-size: 18px;
}
.faq{
    max-width: 700px;
    margin-top: 32px;
    padding-bottom: 16px;
    border-bottom: 2px solid black;
    cursor: pointer;  
}
.question{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.question h3{
    font-size: 20px;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.answer p{
    padding-top: 16px;
    line-height: 1.6;
    font-size: 16px;
}
.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out
}
.faq.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.5s ease-in;
}
body{
    background-color: #eeeeee;
}
footer p{
    text-align: center;
    color: #acacac;
    font-size: 18px;
    margin-bottom: 20px;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media (max-width:992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
        left:2rem;
        width: unset;
    }
    
}